.root {
    -fx-background-color: #ffffff;
    -fx-padding: 30;
    -fx-alignment: center;
    -fx-font-family: "Times New Roman";
}

#loginLabel {
    -fx-font-size: 40px;
    -fx-text-fill: linear-gradient(#61a2b1, #2A5058);
    -fx-font-weight: bold;
}

.label {
    -fx-font-size: 14px;
}
.text-field, .password-field {
    -fx-pref-width: 200px;
    -fx-padding: 5;
    -fx-font-size: 14px;
    -fx-border-color: #ccc;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.button {
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-text-fill: white;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-padding: 8 15 8 15;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
